/* global variables */

/*----------  colo(u)rs  ----------*/
$dark:			#343a40;
$primary:		#ff9800;
$danger:		#dc3546;
$warning:		#ffc107;
$unknown:		#17a2b8;

$white:			#fff;
$white25:		rgba(255,255,255,.25);
$white50:		rgba(255,255,255,.50);
$white75:		rgba(255,255,255,.75);

$grey-light:	#efefef;
$grey-med:		#cccccc;