:root{
    --primary: #ff9800;
}

html, body {
    font-family: 'IBM Plex Sans', sans-serif;
    height: 100%;
    margin: 0;
}

body {
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 56px;
}

a{
    color: #1a1a1a;
    text-decoration: underline;
}

a:hover,
a:active{
    color: var(--primary);
}

nav a,
nav a:hover,
.nav-scroller a,
#tabs a{
    text-decoration: none;
}

@media (max-width: 767px){
    #navigation ul.navbar-main{
        font-size: 1.4rem;
        margin-top: 1rem;
    }
}

main{
    flex: 1;
}

.nav-scroller{
    overflow: initial !important;
    overflow-y: hidden;
}

.navbar-brand .logo{
    max-height: 26px;
    opacity: .5;
}
.navbar-brand:hover .logo{
    opacity: .75;
}

.dropdown-categories{ /* we need more space here */
    min-width: 14rem;
}
.dropdown-menu{
    background-color: #343a40;
    border-top: none;
}
.dropdown-menu a,
.dropdown-menu .category{
    color: rgba(255,255,255,.75);
}

.dropdown-menu .value .badge-light {
    background-color: rgba(255,255,255,.75);
}

.dropdown-item:focus, .dropdown-item:hover{
    color: #16181b;
    text-decoration: none;
    background-color: rgba(255,255,255,.75);
}
.dropdown-item:focus .category a, .dropdown-item:hover .category a{
    color: #16181b !important;    
}

.nav-underline .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
    color: #6c757d;
}
.nav-underline .label{
	display: block;
    padding: .5rem 1rem;
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
    color: #6c757d;
}

.sub-nav{
   background-color: rgba(255,255,255,.75); 
}

footer{
	padding: 5px 0;
}
article{
    background: url(../../static/img/bg.svg);
    background-color: #efefef;
    background-size: cover;
    background-repeat: no-repeat;
}
aside,
article{
    padding-bottom: 1rem;
    padding-top: 1rem;
}

aside .card-body{
	padding: 15px;
}

aside .heading-group{
    font-size: 1.4rem;
    margin: 0 0 .75rem 0;
    padding: 0 1.25rem;
    word-break: break-all;
}
aside .heading-group a{
    text-decoration: none;
}
aside .heading-group .fas{
    font-size: 1rem;
    margin-right: .25rem;
}

aside .card-header{
    padding: .25rem 1.25rem;
    width: 100%;
}
aside .btn.btn-host{
	padding: 0;
    text-align: left;
    text-decoration: none;
    white-space: normal;
    word-break: break-all;
}
aside .btn.btn-host i{
    /* margin-right: .5rem; */
}
aside ul{
	margin-bottom: 0;
}
aside ul li a{
    text-decoration: none;
}
aside a:hover{
    color: #fff;
    text-decoration: none;
}

aside a,
aside .btn{
    color: rgba(255,255,255,.75);
}

.tab-content > .tab-pane{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+8,ffffff+25,ffffff+100&1+0,0.8+8,0.5+25,0.15+100 */
    background: -moz-linear-gradient(top, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.8) 8%, rgba(255,255,255,0.5) 25%, rgba(255,255,255,0.15) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.8) 8%,rgba(255,255,255,0.5) 25%,rgba(255,255,255,0.15) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.8) 8%,rgba(255,255,255,0.5) 25%,rgba(255,255,255,0.15) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#26ffffff',GradientType=0 ); /* IE6-9 */
    padding: .75rem;
}

ul#tabs{
    background-color: #343a40;
    border-bottom: none;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}
ul#tabs .nav-item{
    border-right: 1px solid #777f88;
}
/* ul#tabs .nav-item:last-child{
    border-right: none;
} */
.nav-tabs .nav-link{
    background-color: transparent;
    color: rgba(255,255,255,.5);
    border: none;
}
.nav-tabs .nav-link.active{
    color: #343a40;
    background-color: #fff;
}
.nav-tabs .nav-link:focus{
    
}
.nav-tabs .nav-link:hover{
    color: #fff;
}
.nav-tabs .nav-link.active:hover{
    color: #343a40;
}
ul#tabs a.nav-link{
    border-radius: 0;
    text-transform: uppercase;
}
.heading{
    margin-bottom: 15px;
}
.card-title.card-category{
    margin-bottom: 0;
    text-transform: capitalize;
}

@media only screen and (max-width: 575px){
    .card-title.card-category{
        font-size: 1rem;
    }
}

.link-host{
    color: rgba(255,255,255,.25);
    display: inline-block;
    font-size: .75rem;
    line-height: 1.75rem;
    margin-left: 1.25rem;
    float: right;
}

.timestamp{
    color: rgba(255,255,255,.5);
}

/* @media only screen and (max-width: 575px){
    .timestamp{
        font-size: 1rem;
    }
} */

html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
  padding-top: 56px;
}

@media (max-width: 767px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px; /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #343a40;
    transition-timing-function: ease-in-out;
    transition-duration: .3s;
    transition-property: left, visibility;
  }
  .offcanvas-collapse.open {
    left: 0;
    visibility: visible;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, .75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: #6c757d;
}

.nav-underline .nav-link:hover {
  color: #007bff;
}

.nav-underline .active {
  font-weight: 500;
  color: #343a40;
}

.problem-warning{
    background-color: var(--warning) !important;
    color: #212529 !important;
}
.problem-danger{
    background-color: var(--danger) !important;
    color: #fff !important;
}
.problem-unknown{
    background-color: var(--info) !important;
    color: #fff !important;
}

.text-white-50 { color: rgba(255, 255, 255, .5); }

.bg-purple { background-color: #6f42c1; }

.lh-100 { line-height: 1; }
.lh-125 { line-height: 1.25; }
.lh-150 { line-height: 1.5; }

.card-group button:hover,
.card-group button:active{
    color: #fff;
}

.card-group.active button,
.card-group.active ul li a{
    color: #fff;
}
#accordion .card-body{
    padding: .75rem 0;
}
.card-img{
    border-radius: 0;
}
@media (max-width: 375px) {
    body.overview aside{
        display: none;
    }
}

.col-content a{
    text-decoration: none;
}

a.compare-link:not(:last-child) {
    border-right: 1px solid #ccc;
    padding-right: .5rem;
    padding-left: .25rem;
}

/* .overview-categories .media-body{
    border-color: rgba(52, 58, 64, .5);
    border-left: 4px solid;
    padding-left: .5rem;
} */

.view-node{
    background-color: rgba(255,255,255,.5);
    border-left: 3px solid var(--dark);
    padding: .5rem;
}
.view-node:hover{
    background-color: #fff;
}
/* .overview-node:hover .media-body{
    border-color: var(--primary);
} */


ul.list-inline.list-small > li:not(:last-child):after{
    content: "·";
    margin-left: .5rem;
}

li.list-inline-item.host:after{
    content: none !important;
}

ul.list-inline.list-small > ul {
    list-style-type: decimal-leading-zero;
}

@media (min-width: 767px){
    .list-small{
        font-size: .9rem;
        max-height: 200px;
        overflow-y: scroll;
    }
    ul.list-inline.list-small > ul {
        font-size: .8rem;
    }
}

/* .dropdown-node .btn-node{
    margin-bottom: 15px;
} */

/* @media (max-width: 375px) {
    .dropdown-node .btn-node{
        width: 100%;
    }
} */

/*==========  jQuery scrollUp plugin  ==========*/
.scrollUp{
    background-image: url(../../static/img/top.png);
    bottom: 20px;
    right: 20px;
    width: 38px;
    height: 38px;
    z-index: 900 !important;
    position: fixed;

	&:hover{
		cursor: pointer;
	}

}
/* .node-heading,
.node-heading a{
    color: var(--primary);
}
.node-heading a:hover,
.node-heading a:active{
    color: var(--secondary);
} */

table#legend{
    font-size: .8rem;
}

.top-path > span,
.top-path > a{
    font-size: .8rem;
}
.top-path > a:not(:last-child):after{
    color: #fff;
    content: "\f054";
    font-family: 'FontAwesome';
    margin-left: .25rem;
}
@media (min-width: 576px){
    #zoom .modal-dialog {
        max-width: 900px;
        margin: 1.75rem auto;
    }
}

#zoom .modal-header,
#zoom .modal-body,
#zoom .modal-footer{
    background-color: #efefef;
}

#hint-start .check,
#hint-stop .check{
    display: none;
}
#hint-start.done .check,
#hint-stop.done .check{
    color: #ccc;
    display: inline-block;
}
#hint-start.done,
#hint-stop.done{
    color: #ccc !important;
}
#zoom-do:focus,
#reset-do:focus{
    box-shadow: none;
}
.zoom-canvas #img-overlay{
    background-color: rgba(0,0,0,.2);
    height: 100%;
    width: 100%;
    position: absolute;
}
.zoom-canvas{
    overflow: hidden;
    position: relative;
}
.zoom-canvas #img-overlay.hidden{
    display: none;
}

img.crit{
    outline: 5px solid color: var(--danger);
}
img.warn{
    outline: 5px solid color: var(--warning);
}
