.row.row-group {
    border-bottom: 6px solid #343a40;
}
.nav-categories a:hover,
.nav-categories a:active{
	background-color: $dark !important;
	color: $white !important;
}
.compare-link.active{
	color: $primary;
}
.category-link{
	text-transform: capitalize;
}
